<!DOCTYPE html>
<html>

<head>
    <title>2.4G</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
				<link rel="stylesheet" href="js/dist/leaflet.css" />
				<link rel="stylesheet" href="js/leaflet-routing-machine-3.2.5/dist/leaflet-routing-machine.css" />
		<link rel="stylesheet" href="css/leaflet-measure-path.css" />
		<script src="js/dist/leaflet.js"></script>
		<script src="js/leaflet-measure-path.js"></script>
		<script src="js/leaflet-ant-path/dist/leaflet-ant-path.js"></script>
		<script src="js/leaflet-routing-machine-3.2.5/dist/leaflet-routing-machine.min.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
	
	
    <!-- <script src="https://cdn.so    cket.io/socket.io-1.0.6.js"></script>	 -->
    <script src="js/home.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/socket.io-2.1.0.js"></script>
    <script src="js/moment/moment.js"></script>
	 <script src="js/bootstrap-datetimepicker.min.js"></script>
	 <script src="js/jquery.blockUI.js"></script>
<style>
        html {
            height: 100%;
        }
        
        body {
            background-image: url(img/bird.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
</style>
</head>

<body>
	<a role="button" class="btn btn-primary" href="flight">軌跡管理</a>
	<div style="color:White;"  id="connectInfo">嘗試進行 GPS Reader 連接....</div>
</body>

</html>